.file-upload {
  border: 2px dashed gray;
  padding: 20px;
  text-align: center;
  height: 60%;
  margin: 5px;

}

.file-input {
  display: none;
}

.file-upload label {
  font-size: larger;
}

.dropzone {
  border: 2px dashed gray;
  padding: 20px;
  text-align: center;
}

.dropzone-hover {
  border-color: #33ccff;
}

ngb-progressbar
{
  margin: 5px;
}


